@model Yahoot.AppContext.Quiz

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row col-12">
    <div class="col-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg>
        <i class="fa-solid fa-users">@Model.Users.Count<</i>
    </div>
    <div class="col-6">
        <h1 class="text-center" style="font-family: cairo;font-weight: bold;font-size: 40px;">مسابقة @Model?.QuizName</h1>
    </div>
    <div class="col-3">
        <a class="sc-gWHgXt dziOkl enter-button__Button-sc-3mpvij-0 cnNgKW" asp-action="Edit" asp-route-id="@Model?.Id">Start</a>
    </div>
</div>
@*<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizCode)
        </dd>
    </dl>
</div>*@

