@model Yahoot.Models.QuestionViewModel

@{
    ViewData["Title"] = "QuizQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        margin-bottom: 0;
    }

</style>

@if (@Model.Total == 0)
{
    
    <div>
        <h4>Question</h4>
        <hr />
        <h1 class="text-center">لا خلاص مفيش تاني</h1>
    </div>
}
else
{
    <div class="row col-12">
        <div class="col-11">
            <h4>Question</h4>
            <h5 style="font-weight: bold;margin-left: 2%;">@Model.Current of @Model.Total</h5>
        </div>
        <div class="col-1">
            @*next grades-board*@
            <a class="sc-gWHgXt dziOkl enter-button__Button-sc-3mpvij-0 cnNgKW" style="font-size: 28px !important; background-color: #605ccd; color: white" asp-action="GetTopPlayers" asp-route-quizId="@Model?.QuizId">Next</a>
        </div>
        <hr/>
    </div>
    <div class="row col-12" style="margin-top: 5%;">
        <h1 class="text-center" style="background-color: #fff;border-radius: 5px;padding: 9px;box-shadow: 1px 1px 6px -1px;font-weight: revert-layer;color: #000000c4;">@Model.Question</h1>
    </div>
    <hr/>
    
    <div class="row col-12 text-center" style="margin-top: 5%;">
        <div class="col-1"></div>
        <div class="col-2">
            <h2 id="0-answer" style="font-weight: bold">0 <i class="fa-solid fa-play" style="transform: rotate(270deg); color: #D01937"></i></h2>
        </div>
        <div class="col-2">
            <h2 id="1-answer" style="font-weight: bold">0 <i class="fa-solid fa-circle" style="color: #D89E00"></i></h2>
        </div>
        <div class="col-2">
            <h2 id="2-answer" style="font-weight: bold">0 <i class="fa-solid fa-diamond" style="color: #0F54A7"></i></h2>
        </div>
        <div class="col-2">
            <h2 id="3-answer" style="font-weight: bold">0 <i class="fa-solid fa-square" style="color: #237E0B"></i></h2>
        </div>
        <div class="col-2">
            <h2 id="total-answer" style="font-weight: bold">0<i class="fa-solid fa-users" style="margin-left: 10px"></i></h2>
        </div>
        <div class="col-1"></div>
    </div>
        
    <div class="col-12" style="margin-top: 5%; margin-bottom: 5%;">
        <div id="app" class="text-center" style="display: block ruby;"></div>
    </div>

    <hr/>
    <div class="row col-12">
        <div class="col-6">
            <div class="col-12">
                <h1 id="admin-answer-0" class="text-center"style="padding: 25px;background-color: #D01937; border-radius: 10px; margin-bottom: 3%; text-align: right !important; color: white; font-weight: bold; box-shadow: 0px 6px 0px 0px #6f1c1c; cursor: pointer;">
                    @Model.Answers.ElementAt(0).AnswerName
                    <i class="fa-solid fa-play" style="transform: rotate(270deg);"></i>
                </h1>
            </div>
            <div class="col-12">
                <h1 id="admin-answer-1" class="text-center" style="padding: 25px;background-color: #D89E00; border-radius: 10px;margin-bottom: 3%; text-align: right !important; color: white; font-weight: bold; box-shadow: 0px 6px 0px 0px #7d731e; cursor: pointer;">
                    @Model.Answers.ElementAt(1).AnswerName
                    <i class="fa-solid fa-circle"  style="color: white"></i>
                </h1>
            </div>
        </div>
        <div class="col-6">
            <div class="col-12">
                <h1 id="admin-answer-2" class="text-center" style="padding: 25px;background-color: #0F54A7; border-radius: 10px; margin-bottom: 3%; text-align: right !important; color: white; font-weight: bold; box-shadow: 0px 6px 0px 0px #2f4395; cursor: pointer;">
                    @Model.Answers.ElementAt(2).AnswerName
                    <i class="fa-solid fa-diamond"></i>
                </h1>
            </div>
            <div class="col-12">
                <h1 id="admin-answer-3" class="text-center" style="padding: 25px;background-color: #237E0B; border-radius: 10px; margin-bottom: 3%; text-align: right !important; color: white; font-weight: bold; box-shadow: 0px 6px 0px 0px #1d2f0a; cursor: pointer;">
                    @Model.Answers.ElementAt(3).AnswerName
                    <i class="fa-solid fa-square" style="color: white"></i>
                </h1>
            </div>
        </div>
    </div>
    <input id="admin-question-id" value="@Model.QuestionId" hidden="">
    <input id="admin-quiz-id" value="@Model.QuizId " hidden="">
}

